<div class="container">
    <div class="content">
        <h1 id="title">Um animal sumido? Informe!</h1>
        <h3 id="text">Selecione um animal para gerar um cartaz com suas informações</h3>
        <select id="animal" class="form-control shadow" formControlName="animal">
            <option selected>Selecione o animal</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <h4 id="text">ou</h4>
        <h3 id="text">Crie um cartaz novo com informações de um animal novo</h3>
        <!-- <button class="btn shadow" routerLink="/carteirinha"><b>Criar cartaz novo</b></button> -->

        <a class="btn shadow" id="botao" routerLink="/carteirinha"><b>Criar cartaz novo</b></a>
    </div>
</div>