a,
button,
select,
#text {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#title {
    margin-top: 10px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#cartazes,
#animal {
    font-size: x-large;
    margin-bottom: 25px;
    border-radius: 10px;
    border-color: #8B40EB;
    font-style: italic;
    width: 40%;
}

#cartazes{
    width: 300px;
}

a,
.btn {
    background-color: #0764A2;
    color: white !important;
    border-radius: 50px;
    font-size: x-large;
    padding: 10px;
}

a {
    width: 220px;
}


.container {
    margin-bottom: 60px;
}

#back{
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

#htmlData{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#idAnimal,
input{
    width: 100%;
    border-radius: 10px;
    border-color: #8B40EB;
    font-style: italic;
    margin-bottom: 25px;
    height: 35px;
}

#idAnimal{
    margin-top: 25px;
}

label{
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}