.card{
    width: 50%;
    margin: auto;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: black;
    padding: 30px;
}

a{
    border-width: 1px;
    border-color: #969595;
    background-color: #d9d9d9;
    margin: 5px 0 5px;
}

#back{
    border-width: 0;
    border-color: white;
    background-color: white;
    margin: 0;
}