<body class="h-screen">

    <div id="logo">
        <img src="assets/logo.png" width="317px" height="289px">
    </div>
    <br>
    <div style="font-family: Lucida Console, Courier New, monospace; color: white;text-align: center;text-shadow: 2px 2px #000000;">
        <i><b><h3>
            The Scope, We Be Watchin!
        </h3></b></i>
    </div>

    <div id="links">
        <br>
        <br>
        <a><b><h4>videos</h4></b></a>
        <br>
        <br>
        <a><b><h4>credits</h4></b></a>
        <br>
        <br>
        <a><b><h4>solo music</h4></b></a>
        <br>
        <br>
    </div>

    <div style="font-family: Lucida Console, Courier New, monospace; color: white;text-align: center;text-shadow: 2px 2px #000000;">
        <i><b><h5>
            The winds of summer brought us here!
        </h5></b></i>
    </div>

    <br>
    <br>
    <br>

    <div style="font-family: Lucida Console, Courier New, monospace; color: white;text-align: center;text-shadow: 2px 2px #000000;">
        <i><b><h2>
            AUGMNTD - AUGMNTD
        </h2></b></i>
    </div>

    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=EyCX_AJPV4w&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=1" target="_blank">INTRO</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=Q6IpqAT-2S8&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=2" target="_blank">CANDY</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=QGX5wWLNO9Q&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=3" target="_blank">SUGAR</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=nUG4ix_1HKI&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=4" target="_blank">PUDDLES</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=_FNfq0qsTM4&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=5" target="_blank">KILLTIME</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=t5SNc765QHE&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=6" target="_blank">INTERLUDE</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=Mvx8ZBsUALo&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=7" target="_blank">MARZ</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=HwDwvlp6rIk&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=8" target="_blank">NOZEBLEED</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=qL1QI8UZVvY&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=9" target="_blank">SUNDAE</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=xyiHFH2z7Ek&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=10" target="_blank">MOTELS</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=Fn5B6tFJvck&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=11" target="_blank">OUTRO</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>
    <div class="card mb-3 mx-auto">
        <div class="card-header"><a href="https://www.youtube.com/watch?v=48Eng1YL4l0&list=PLYzLrsCVUOfd3Vc0E-ss7g41TBDhxo3UH&index=12" target="_blank">MUT</a></div>
        <div class="card-body">
          <p class="card-text">Text talking about the music, what it means or something interesting about it.</p>
        </div>
    </div>

    <div id="foot">
        <br>
        <br>
        © 2022 Augmntd. All Rights Reserved.<br>
        <a href="https://www.instagram.com/fuckaugmntd/">Instagram</a> | <a href="https://twitter.com/fuckaugmntd">Twitter</a> | <a href="https://www.youtube.com/channel/UCb6rPeUJ44gll9C8Ec6Tj7whttps://www.youtube.com/channel/UCb6rPeUJ44gll9C8Ec6Tj7w">Youtube</a>
        <br>
        <br>
    </div>
</body>