<a routerLink="/">
    <img src="assets/back.png" style="width: 20px; height: inherit; margin-top: 30px; margin-left: 10%;">
  </a>
<div id="center" class="container">
    <div class="filterArea" align="center">
        <select name="filter" id="filter" class="shadow">
          <option id="filterOpt" value="{{rga.nomeAnimal}}" *ngFor="let rga of rgas$">{{rga.nomeAnimal}}</option>
        </select>
        <select name="filterby" id="filterby" class="shadow">
          <option value="1" selected>Alfabético</option>
          <option value="2">Mais Recente</option>
        </select>
        <button id="rgaAddBtn" class="btn shadow" (click)="openAddModal()"><b>Adicionar RGA</b></button>
      </div>
    <div *ngFor="let rga of rgas$" class="cards">
        <div class="card shadow">
            <section class="animalinfo">
                <h1 id="title">{{rga.nomeAnimal}}</h1>
                <div class="head">
                    <button class="btn shadow" (click)="openRemoveModal()"><b>Remover RGA</b></button>
                </div>
                <div class="line-1"></div>
                <div class="card shadow" id="rga">
                    <div class="row" id="lin1">
                        <div class="col">
                            <img id="sp" src="assets/sp.png" alt="">
                        </div>
                        <div class="col">
                            <div align="center">
                                <b>SECRETARIA MUNICIPAL DA SAÚDE</b><br>
                                COORDENADORIA DE SAÚDE<br>
                                E PROTEÇÃO AO ANIMAL DOMÉSTICO
                            </div>
                        </div>
                        <div class="col">
                            <img id="cosap" src="assets/cosap.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src={{rga.pata}} id="pata">
                        </div>
                        <div class="col">
                            <div id="info">
                                <table>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Sexo</th>
                                    </tr>
                                    <tr>
                                        <td>{{rga.nomeAnimal}}</td>
                                        <td>{{rga.sexo}}</td>
                                    </tr>
                                    <tr>
                                        <th>Espécie</th>
                                        <th>Raça</th>
                                    </tr>
                                    <tr>
                                        <td>{{rga.especie}}</td>
                                        <td>{{rga.raca}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cor</th>
                                        <th>Nascimento</th>
                                    </tr>
                                    <tr>
                                        <td>{{rga.cor}}</td>
                                        <td>{{rga.nascimento | date:'d/M/y'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <img src={{rga.foto}} id="foto">
                        </div>
                    </div>
                    <div class="row" id="lin3">
                        <div class="col">
                            <div id="microship">
                                <img id="microimg" src="assets/chip.png">
                                <div id="items">
                                    <b>Microship</b><br>
                                    <b id="m">{{rga.chip}}</b><br><br>
                                </div>
                            </div><br>
                            <div id="rga2">
                                <img id="rgaimg" src="assets/rga.png">
                                <div id="items">
                                    <b id="r">RGA</b><br>
                                    <b>{{rga.rga}}</b><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div id="assinatura">
                                <img id="ass" src={{rga.ass}} alt="">
                                <div class="line-1"></div>
                                Assinatura do Titular
                            </div>
                        </div>
                        <div class="col">
                            <span class="badge">USE PLAQUETA DE IDENTIFICAÇÃO</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="addRga">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionar vacina na carteirinha de {{'nomeAnimal'}} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
                <div class="col">
                    <div class="block">
                        <label id="lbl" for="name"><b>Nome do animal</b></label>
                        <input type="name" class="form-control shadow-sm mb-4" id="name" placeholder="Nome">
                    </div>
                    <div class="block">
                        <label id="lbl" for="sexo"><b>Nome do animal</b></label>
                        <input type="text" class="form-control shadow-sm mb-4" id="name" placeholder="Sexo">
                        <!-- <select name="" id="sexo">
                            <option selected>Selecione o sexo</option>
                            <option value="f">Fêmea</option>
                            <option value="m">Macho</option>
                        </select> -->
                    </div>
                    <div class="block">
                        <label id="lbl" for="espec"><b>Espécie do animal</b></label>
                        <input type="text" class="form-control shadow-sm mb-4" id="espec" placeholder="Espécie">
                    </div>
                    <div class="block">
                      <label id="lbl" for="raca"><b>Raça do animal</b></label>
                      <input type="text" class="form-control shadow-sm mb-4" id="raca" placeholder="Raça">
                  </div>
                  <div class="block">
                    <label id="lbl" for="cor"><b>Cor do animal</b></label>
                    <input type="text" class="form-control shadow-sm mb-4" id="cor" placeholder="Cor">
                </div>
                <div class="block">
                  <label id="lbl" for="data"><b>Data Nascimento do animal</b></label>
                  <input type="date" class="form-control shadow-sm mb-4" id="data">
                </div>
                <div class="block">
                  <label id="lbl" for="micro"><b>Microship do animal</b></label>
                  <input type="text" class="form-control shadow-sm mb-4" id="micro" placeholder="Microship">
                </div>
                <div class="block">
                  <label id="lbl" for="rga3"><b>RGA do animal</b></label>
                  <input type="text" class="form-control shadow-sm mb-4" id="rga3" placeholder="RGA">
                </div>
                <div class="block">
                  <label id="lbl" for="foto5"><b>Foto da Pata do animal</b></label>
                  <input type="image" class="form-control shadow-sm mb-4" id="foto5">
                </div>
                <div class="block">
                  <label id="lbl" for="foto2"><b>Foto do animal</b></label>
                  <input type="image" class="form-control shadow-sm mb-4" id="foto2">
                </div>
                <div class="block">
                  <label id="lbl" for="foto3"><b>Foto da assinatura do tutor</b></label>
                  <input type="image" class="form-control shadow-sm mb-4" id="foto3">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeAddModal()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  
<div class="modal" tabindex="-1" id="editRga">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionar vacina na carteirinha de {{'nomeAnimal'}} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
                <div class="col">
                    <div class="block">
                        <label id="lbl" for="name"><b>Nome vacina</b></label>
                        <input type="name" class="form-control shadow-sm mb-4" id="name" placeholder="Nome da vacina">
                    </div>
                    <div class="block">
                        <label id="lbl" for="email"><b>Data de aplicação</b></label>
                        <input type="date" class="form-control shadow-sm mb-4" id="date">
                    </div>
                    <div class="block">
                        <label id="lbl" for="email"><b>Data da próxima dose</b></label>
                        <input type="date" class="form-control shadow-sm mb-4" id="date2">
                    </div>
    
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeAddModal()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="removeRga">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selecione a vacina que quer remover</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Tem certeza que quer remover esse RGA?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeRemoveModal()">Save changes</button>
        </div>
      </div>
    </div>
  </div>