<a routerLink="/">
  <img src="assets/back.png" style="width: 20px; height: inherit; margin-top: 30px; margin-left: 10%;">
</a>
<div id="center" class="container">
  <div class="filterArea" align="center">
    <!-- <input list="names" name="names" id="filter">
    <datalist id="names">
      <option *ngFor="let animal of animals$" value="{{animal.id}}">{{animal.nome}}</option>
    </datalist> -->
    <!-- <select name="filter" id="filter" class="shadow">
      <option #carteirinha (change)="carteirinha.value" id="filterOpt" value="{{animal.id}}" *ngFor="let animal of animals$">{{animal.nome}}</option>
    </select> -->
    <button id="openFormFilter" class="btn shadow" (click)="getRGA()"><b>Mostrar Todas</b></button>
    <select [(ngModel)]="selectedCard" (change)="selecionado()" class="shadow" id="filter">
      <option id="filterOpt" value="{{animal.nome}}" *ngFor="let animal of animalDropDown$" selected>{{animal.nome}}
      </option>
    </select>
    <select [(ngModel)]="filtered" (change)="filters()" id="filterby" class="shadow">
      <option value="1">Mais antigo</option>
      <option value="2">Mais Recente</option>
      <option value="3">Alfabético</option>
      <option>Numérico</option>
    </select>
    <b>|</b>
    <button id="openForm" class="btn shadow" (click)="openAddModal()"><b>Adicionar RGA</b></button>
    <button id="openForm" class="btn shadow" (click)="openRemoveModal()"><b>Remover RGA</b></button>
  </div>
  <ng-container *ngFor="let animal of animals$">
    <div class="cards" *ngFor="let rga of rgas$">
      <div class="card shadow" *ngIf="animal.id == rga.idAnimal">
        <section class="animalinfo">
          <h1 id="title">{{animal.nome}}</h1>
          <div class="line-1"></div>
          <div class="card shadow" id="rga">
            <div class="row" id="lin1">
              <div class="col">
                <img id="sp" src="assets/sp.png" alt="">
              </div>
              <div class="col">
                <div align="center">
                  <b>SECRETARIA MUNICIPAL DA SAÚDE</b><br>
                  COORDENADORIA DE SAÚDE<br>
                  E PROTEÇÃO AO ANIMAL DOMÉSTICO
                </div>
              </div>
              <div class="col">
                <img id="cosap" src="assets/cosap.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="{{rga.pata}}" id="pata">
              </div>
              <div class="col">
                <div id="info">
                  <table>
                    <tr>
                      <th>Nome</th>
                      <th>Sexo</th>
                    </tr>
                    <tr>
                      <td>{{animal.nome}}</td>
                      <!-- <div *ngFor="let sexo of sexos$">
                                          <td  *ngIf="sexo.idSexo == rga.idSexo">{{sexo.dsSexo}}</td>
                                        </div> -->
                      <td *ngIf="animal.idSexo == 1; else elseBlock1">Macho</td>
                      <ng-template #elseBlock1>Fêmea</ng-template>
                    </tr>
                    <tr>
                      <th>Espécie</th>
                      <th>Raça</th>
                    </tr>
                    <tr>
                      <td *ngIf="animal.idEspecie == 1; else elseBlock2">Cachorro</td>
                      <ng-template #elseBlock2>Gato</ng-template>
                      <ng-container *ngFor="let raca of racas$">
                        <td *ngIf="animal.idRaca == raca.idRaca">{{raca.dsRaca}}</td>
                      </ng-container>
                    </tr>
                    <tr>
                      <th>Cor</th>
                      <th>Nascimento</th>
                    </tr>
                    <tr>
                      <td>{{animal.pelagem}}</td>
                      <td>{{animal.dtNascimento | date:'d/M/y'}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col">
                <img src="{{rga.foto}}" id="foto">
              </div>
            </div>
            <div class="row" id="lin3">
              <div class="col">
                <div id="microship">
                  <img id="microimg" src="assets/chip.png">
                  <div id="items">
                    <b>Microship</b><br>
                    <b id="m">{{rga.chip}}</b><br><br>
                  </div>
                </div><br>
                <div id="rga2">
                  <img id="rgaimg" src="assets/rga.png">
                  <div id="items">
                    <b id="r">RGA</b><br>
                    <b>{{rga.rga}}</b><br><br>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="assinatura">
                  <img id="ass" src="{{rga.assinatura}}" alt="">
                  <div class="line-1"></div>
                  Assinatura do Titular
                </div>
              </div>
              <div class="col">
                <span class="badge">USE PLAQUETA DE IDENTIFICAÇÃO</span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal" tabindex="-1" id="addRga">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar RGA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addRga="ngForm" (ngSubmit)="addRGA(addRga.value)">
          <div class="row">
            <div class="col">
              <div class="block">
                <label id="lbl" for="name"><b>Selecione o animal</b></label>
                <select #selectedValue name="animals" id="selectAddAnimal" ngModel name="idAnimal">
                  <ng-container *ngFor="let animal of animals$">
                    <option value="{{animal.id}}" [disabled]="animal.id < animals$.length-1">
                      {{animal.nome}}</option>
                  </ng-container>
                </select>
              </div>
              <!-- <div class="block">
                <label id="lbl" for="sexo"><b>Sexo do animal</b></label>
                <select name="sexo" id="sel" ngModel name="idSexo">
                  <option *ngFor="let sex of sexos$" value="{{sex.idSexo}}" selected disabled>{{sex.dsSexo}}</option>
                </select>
              </div>
              <div class="block">
                <label id="lbl" for="espec"><b>Espécie do animal</b></label>
                <select name="espec" id="sel" ngModel name="idEspecie">
                  <option *ngFor="let espec of especies$" value="{{espec.id}}" selected disabled>{{espec.especieAnimal}}</option>
                </select>
              </div>
              <div class="block">
                <label id="lbl" for="raca"><b>Raça do animal</b></label>
                <select name="espec" id="sel" ngModel name="idRaca">
                  <option *ngFor="let raca of racas$" value="{{raca.idRaca}}" selected disabled>{{raca.dsRaca}}</option>
                </select>
              </div>
              <div class="block">
                <label id="lbl" for="cor"><b>Cor do animal</b></label>
                <input type="text" class="form-control shadow-sm mb-4" id="sel" placeholder="Cor" ngModel
                  name="pelagem" disabled>
              </div>
              <div class="block">
                <label id="lbl" for="data"><b>Data Nascimento do animal</b></label>
                <input type="date" class="form-control shadow-sm mb-4" id="sel" ngModel name="dtNascimento">
              </div> -->
              <div class="block">
                <label id="lbl" for="micro"><b>Microship do animal</b></label>
                <input type="text" class="form-control shadow-sm mb-4" id="sel" placeholder="Número do Microship" ngModel
                  name="chip">
              </div>
              <div class="block">
                <label id="lbl" for="rga3"><b>RGA do animal</b></label>
                <input type="text" class="form-control shadow-sm mb-4" id="sel" placeholder="Número do RGA" ngModel name="rga">
              </div>
              <div class="block">
                <label id="lbl" for="foto5"><b>Foto da Pata do animal</b></label>
                <input type="text" class="form-control shadow-sm mb-4" id="sel" placeholder="Digital ou foto da pata do animal" ngModel name="pata">
              </div>
              <div class="block">
                <label id="lbl" for="foto2"><b>Foto do animal</b></label>
                <input type="text" class="form-control shadow-sm mb-4" id="sel" placeholder="Foto do seu pet" ngModel name="foto">
              </div>
              <div class="block">
                <label id="lbl" for="foto3"><b>Foto da assinatura do tutor</b></label>
                <input type="text" class="form-control shadow-sm mb-4" id="sel" placeholder="Sua assinatura" ngModel name="assinatura">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addRGA(addRga.value)">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="removeRga">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecione o RGA que quer remover</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select #rgas name="rgas" id="rgaList" (change)="onSelected(rgas.value)">
          <ng-container *ngFor="let animal of animals$">
            <ng-container *ngFor="let rga of rgas$">
              <option *ngIf="rga.idAnimal == animal.id" value="{{rga.idRGA}}">{{animal.nome}}</option>
            </ng-container>
          </ng-container>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteRGA(+selectedItem)">Deletar</button>
      </div>
    </div>
  </div>
</div>