<div id="center" class="container">
    <div ngforaqui class="cards">
    <div class="card">
        <div class="animalinfo">
            <h1 id="title">{{nomeAnimal}}</h1>
            <div class="head">
                <button class="btn"><b>Importar RGA</b></button>
                <button class="btn"><b>Remover RGA</b></button>
                <button class="btn"><b>Editar RGA</b></button>
            </div>
            <div class="line-1"></div>
            <div class="card" id="rga">
                <div class="row" id="lin1">
                    <div class="col">
                        Cidade de São Paulo
                    </div>
                    <div class="col">
                        Secretaria blablabla
                    </div>
                    <div class="col">
                        COSAP
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="https://svgsilh.com/svg_v2/1314467.svg" id="pata">
                    </div>
                    <div class="col">
                        <b>Nome</b><br>
                        Zé<br>
                        <b>Sexo</b><br>
                        Macho<br><br>
                        <b>Espécie</b><br>         
                        Canina<br>              
                        <b>Raça</b><br>
                        Canina<br><br>
                        <b>Cor</b><br>
                        Parda/marrom<br>
                        <b>Nascimento</b><br>
                        10/02<br>
                    </div>
                    <div class="col">
                        <img src="https://i.imgur.com/l8PtLRxh.jpg" id="foto">
                    </div>
                </div>
                <div class="row" id="lin3">
                    <div class="col">
                        <span class="badge bg-warning"><b>Microship</b></span><br>
                        982893563956938459863<br><br>
                        <b>RGA</b><br>
                        191919191
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
  </div>