<div class="container">
    <div class="row">
        <div class="card" >
            <img src="assets/carteirinha.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Carteirinha</h5>
              <p class="card-text">
                A carteira de vacinação do seu pet, aqui você irá ver as vacinas que ele vai tomar, e adicionar as que ele já tomou antes.
              </p>
              <a href="#" class="align-self-bottom btn btn-primary"><b>Acessar</b></a>
            </div>
        </div>

        <div class="card" >
            <img src="assets/rga.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">RGA</h5>
              <p class="card-text">
                O documento de identidade do seu animalzinho de estimação, aqui você pode fazer uma simulação de como seria o seu, ou puxar a informação de um existente.
              </p>
              <a href="#" class="align-self-bottom btn btn-primary"><b>Acessar</b></a>
            </div>
        </div>

        <div class="card" >
            <img src="assets/geopetz.jpg" height="180" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">GeoPetz</h5>
              <p class="card-text">
                Aqui você pode localizar os veterinários e petshops perto da sua casa.
              </p>
              <a href="#" class="align-self-bottom btn btn-primary"><b>Acessar</b></a>
            </div>
        </div>

        <div class="card" >
            <img src="assets/adocao.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Adoção</h5>
              <p class="card-text">
               Aqui você pode colocar seu animal para adoção ou adotar o de outras pessoas.              
             </p>
              <a href="#" class="align-self-bottom btn btn-primary"><b>Acessar</b></a>
            </div>
        </div>
            
            
        <div id="lastCard" class="card">
            <img src="assets/denuncia.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Denúncia</h5>
              <p class="card-text">
                Aqui você pode denunciar se seu animal desapareceu, gerando automaticamente um cartaz e postando ele num fórum.
              </p>
              <a href="#" class="align-self-bottom btn btn-primary"><b>Acessar</b></a>
            </div>
        </div>
    </div>
</div>

