<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/entrarimg.jpg" width="200px" height="200px" alt="" class="center">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="email" class="form-control shadow" placeholder="Email">
                <input type="password" class="form-control shadow" placeholder="Senha">
                <button id="entrar" class="btn btn-primary shadow" type="submit"><b>Entrar</b></button>
                <button id="esqueci" class="btn"><u>Esqueci minha senha</u></button>
                <button id="registrar" class="btn"><u>Registre uma conta nova</u></button>
            </div>
        </div>
    </div>    
</div>
