<div *ngIf="!autenticado">
    <div class="container">
        <div class="row">
            <figure class="col">
                <img src="assets/entrarimg.jpg" width="200px" height="200px" alt="" class="center">
            </figure>
        </div>
        <div class="row">
            <div class="col">
                <form [formGroup]="loginForm" (ngSubmit)="enviarFormulario()">
                    <div clas="form-group">
                        <div class="block">
                            <label id="lblemail" for="email"><b>Seu username</b></label>
                            <input formControlName="username" name="username" id="email" type="text" class="form-control shadow"
                                placeholder="ex: zezin">
                            <app-error-mesage-form *ngIf="loginForm.get('username')?.errors?.['required']" errorMessage=""></app-error-mesage-form>
                        </div>

                        <div class="block">
                            <label id="lblsenha" for="senha"><b>Sua senha secreta</b></label>
                            <input formControlName="passwordString" name="passwordString" id="senha" type="password" class="form-control shadow"
                                placeholder="Senha">
                        </div>
                        <button id="entrar" class="btn btn-primary"
                            routerLink="/perfil" [disabled]="loginForm.get('username')?.errors?.['required']"><b>Entrar</b></button>


                           <button id="entrar2" class="btn" routerLink="/perfil/vet"><b></b></button>
                            



                        <!-- <ng-container *ngIf="autenticado; else elseBlock">
                        </ng-container> -->
                        <!-- <ng-template #elseBlock>
                            <a id="entrar" class="btn btn-primary shadow"
                                (click)="enviarFormulario()"><b>Entrar</b></a>
                        </ng-template> -->
                        <a id="esqueci" class="btn" routerLink="/esqueci"><u>Esqueci minha senha</u></a>
                        <a id="registrar" class="btn" routerLink="/registrar"><u>Registre uma conta nova</u></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="erro">
    deu erro
</ng-container>