.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#lblsenha,
#lblemail,
.form-control{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 20px;
    border-color: #8B40EB;

    padding-left: 20px;
}

#lblsenha,
#lblemail{
  display: block;
}

#senha,
#email{
  margin-bottom: 25px;
}

#entrar{
    display: block;
    background-color: #0764A2;
    border-color: plum;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#esqueci{
    display: block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    color: gray;
}
#registrar{
    display: block;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    color: gray;
}
#entrar2{
    display: block;
    background-color: white;
    border-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}