<div class="container">
    <div class="row">
        <figure class="col">
            <img src="assets/entrarimg.jpg" width="200px" height="200px" alt="" class="center">
        </figure>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="block">
                    <label id="lblemail" for="email"><b>Seu email registrado</b></label>
                    <input id="email" type="email" class="form-control shadow" placeholder="Email">
                </div>

                <div class="block">
                    <label id="lblsenha" for="senha"><b>Sua senha secreta</b></label>
                    <input id="senha" type="password" class="form-control shadow" placeholder="Senha">
                </div>
                <a id="entrar" class="btn btn-primary shadow" routerLink="/perfil"><b>Entrar</b></a>
                <a id="esqueci" class="btn" href="/esqueci"><u>Esqueci minha senha</u></a>
                <a id="registrar" class="btn" href="/registrar"><u>Registre uma conta nova</u></a>
            </div>
        </div>
    </div>
</div>