<div class="container">
    <h2 id="title" class="center"><b>Insira suas informações de usuário</b></h2>
    <form>
        <div class="row">
            <div class="col">
                <input type="name" class="form-control shadow-sm" id="name" placeholder="Nome Completo" >
                <input type="text" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" class="form-control shadow-sm" id="cpf" placeholder="CPF" aria-describedby="cpfHelp">
                <div id="cpfHelp" class="form-text">Inserir em formato xxx.xxx.xxx-xx</div>
                <input type="tel" class="form-control shadow-sm" id="phone" name="phone" placeholder="Telefone">
            </div>
            <div class="col">
                <input type="email" class="form-control shadow-sm" id="exampleInputEmail1" placeholder="Email">
                <input type="password" class="form-control shadow-sm" id="senha" placeholder="Senha">
                <input type="password" class="form-control shadow-sm" id="senha2" placeholder="Repita a Senha">
            </div>
            <div class="col">
                <input type="address" class="form-control shadow-sm" id="endereco" placeholder="Endereço">
                <input type="password" class="form-control shadow-sm" id="estado" placeholder="Selecione seu Estado">
                <div class="row">
                    <div class="col">
                        <input type="password" class="form-control shadow-sm" id="cidade" placeholder="Selecione sua Cidade">
                        
                    </div>
                    <div class="col">
                        <input type="password" class="form-control shadow-sm" id="uf" placeholder="UF">
                    </div>
                </div>
                
            </div>
        </div>

        <button type="submit" class="btn shadow-sm"><b>Registrar-se</b></button>
    </form>
</div>