<div class="container">
  <h2 id="title" class="center"><b>Insira suas informações de clínica veterinária</b></h2>
  <form>
      <div class="row">
          <div class="col">
            <div class="block">
              <label id="lbl" for="email"><b>Seu nome</b></label>
              <input type="name" class="form-control shadow-sm" id="name" placeholder="Nome Completo" >
            </div>
              <div class="block">
                <label id="lbl" for="email"><b>Seu CNPJ</b></label>
                <input type="number" class="form-control shadow-sm" id="cnpj" placeholder="CNPJ">
              </div>
              <div class="block">
                <label id="lbl" for="email"><b>Seu telefone</b></label>
                <input type="tel" class="form-control shadow-sm" id="phone" name="phone" placeholder="Telefone">
              </div>
              <div class="block">
                <label id="lbl" for="email"><b>Seu email</b></label>
                <input type="email" class="form-control shadow-sm" id="email" placeholder="Email">
              </div>
              <div class="block">
                <label id="lbl" for="email"><b>Sua senha</b></label>
                <input type="password" class="form-control shadow-sm" id="password" placeholder="Senha">
              </div>

          </div>
          <div class="col">
            <div class="block">
              <label id="lbl" for="email"><b>Seu CEP</b></label>
              <input type="number" class="form-control shadow-sm" id="cep" placeholder="CEP">
            </div>
            <div class="block">
              <label id="lbl" for="state"><b>Seu Estado</b></label>
              <select id="state" class="form-control shadow-sm" aria-label="state">
                <option selected>Selecione seu estado</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="block">
              <label id="lbl" for="email"><b>Sua cidade</b></label>
              <select id="state" class="form-control shadow-sm" aria-label="state">
                <option selected>Selecione sua cidade</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
              <div class="block">
                <label id="lbl" for="email"><b>Seu endereço</b></label>
                <input type="text" class="form-control shadow-sm" id="address" placeholder="Endereço">
              </div>
              <div class="block">
                <label id="lbl" for="email"><b>Repita sua senha</b></label>
                <input type="password" class="form-control shadow-sm" id="password2" placeholder="Repita a Senha">
              </div>
          </div>
        </div>

      <button type="submit" class="btn shadow-sm"><b>Registrar-se</b></button>
  </form>
</div>
