.btn {
    background-color: #8B40EB;
    border-radius: 30px;
    margin: 0 5px;
    color: white;
}

.card {
    margin-top: 60px;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    border-color: black;
    border-width: 1.5px;
    margin-bottom: 60px;
}

#title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.head {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-right: -5px;
}

#lin1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#lin3 {
    margin-bottom: 30px;
}

#rga {
    background-color: #ACBEC8;
    margin-bottom: 20px;
    border-radius: 40px;
}

#head {
    background-color: #8B40EB;
    color: white;
}

#center {
    margin-right: auto;
    margin-left: auto;
}

#pata {
    width: 200px;
    height: inherit;
    display: flex;
    margin: 0 auto;
}

#foto {
    width: 250px;
    height: inherit;
    border-radius: 15px;
    border: 2px solid #054493;
}

#microship {
    background-color: #DEA264;
    width: 90%;
    height: 60px;
    border-radius: 0px 15px 15px 0px;
    color: white;
}

#rga2 {
    background-color: #054493;
    width: 90%;
    height: 60px;
    border-radius: 0px 15px 15px 0px;
    color: white;

}

#items {
    padding-top: 8px;
    margin-left: 40%;
}

#rgaimg,
#microimg {
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
}

#ass {
    width: 120px;
    height: inherit;
    display: flex;
    margin: 0 auto;

}

#cosap {
    width: 160px;
    height: inherit;
    display: flex;
    margin: 0 auto;

}

#sp {
    width: 160px;
    height: inherit;
    display: flex;
    margin: 0 auto;
}

#sexo {
    float: right;
    margin-right: 15%;
}

.t {
    color: #244D60;
}

.badge {
    padding: 10px;
    margin-top: 20%;
    background-color: #054493;
    border-radius: 15px;
    font-size: medium;
}

.line-1 {
    margin-top: 20px;
    height: 1px;
    background: black;
}

#assinatura {
    margin-top: 20px;
}

#m {
    color: #054493;
}

#r {
    color: #DEA264;
}

#info {
    display: block;
}

table {
    margin-top: 40px;
    width: 100%;
}

th {
    color: #244D60;
}