#logo{
    border-radius: 50%;
    margin-left: 15px;
}
#btnRegistrar{
    background-color: #8B40EB;
    border-color: plum;
    margin-right: 15px;
}
#btnEntrar{
    border-width: 0px;
    color: black;
    margin-right: 15px;
}

.navbar{
   background-color: #E0DDFF;
}


