<a routerLink="/" id="back">
    <img src="assets/back.png" style="width: 20px; height: inherit; margin-top: 30px; margin-left: 10%;">
  </a>
<div class="center">
    <div class="row">
        <div class="card" [ngStyle]="{'width': '18rem'}">
            <img id="tut" src="assets/tutor.png" class="card-img-top">
            <div class="card-body">
                <button class="btn shadow" routerLink="./tutor"><b>TUTOR</b></button>
            </div>
        </div>
        <!-- <div class="card" [ngStyle]="{'width': '18rem'}">
            <img id="adoc" src="assets/adocao.png" class="card-img-top">
            <div class="card-body">
                <button class="btn shadow" routerLink="./adocao"><b>ADOÇÃO</b></button>
            </div>
        </div> -->
        <div class="card" [ngStyle]="{'width': '18rem'}">
            <img id="vet" src="assets/veterinario.png" class="card-img-top">
            <div class="card-body">
                <button class="btn shadow" routerLink="./veterinario"><b>VETERINÁRIO</b></button>
            </div>
        </div>
        <div id="lastCard" class="card" [ngStyle]="{'width': '18rem'}">
            <img id="pet" src="assets/petshop.png" class="card-img-top">
            <div class="card-body">
                <button class="btn shadow" routerLink="./petshop"><b>PETSHOP</b></button>
            </div>
        </div>
    </div>
</div>