<div class="center">
  <div class="row">
      <div class="card" style="width: 18rem;">
          <img id="tut" src="assets/tutor.png" class="card-img-top">
          <div class="card-body">
              <button class="btn shadow" routerLink="/registrar/tutor"><b>TUTOR</b></button>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img id="adoc" src="assets/adocao.png" class="card-img-top">
          <div class="card-body">
              <button class="btn shadow" routerLink="/registrar/adocao"><b>ADOÇÃO</b></button>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img id="vet" src="assets/veterinario.png" class="card-img-top">
          <div class="card-body">
              <button class="btn shadow" routerLink="/registrar/veterinario"><b>VETERINÁRIO</b></button>
          </div>
      </div>
      <div id="lastCard" class="card" style="width: 18rem;">
          <img id="pet" src="assets/petshop.png" class="card-img-top">
          <div class="card-body">
              <button class="btn shadow" routerLink="/registrar/petshop"><b>PETSHOP</b></button>
          </div>
      </div>
  </div>
</div>
